<div ng-include src="'sidenav.html'" ng-controller="SideNavController as sidenav">
</div>
<div class="views" id="myApp">
    <div class="userTable" ng-hide="users.userSelected || !users.userAccess" >
        <div class="titlePage">
            <h1 id="usersTitle">Usuarios del sistema</h1>
            <button class="btn btn-success" id="createButton" ng-click="users.createUser()">Crear Usuario</button>
        </div>
        <table class="table table-striped table-hover table-bordered table-responsive" >
            <col width="100">
            <col width="100">
            <col width="25">
            <col width="25">
            <thead class="header">
                <tr class="firstRow">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Filtrar..." ng-model="users.searchUsers">
                            </div>      
                        </div>                        
                    </form>
                </tr>
                <tr class="firsts-th">
                    <td>
                        <p class="disabled" ng-click="users.sortType = 'email'; users.sortReverse = !users.sortReverse">
                            Email 
                            <span ng-show="users.sortType == 'email' && !users.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="users.sortType == 'email' && users.sortReverse" class="fa fa-caret-up"></span>
                        <p>
                    </td>
                    <td>
                        <p class="disabled" ng-click="users.sortType = 'creation_date'; users.sortReverse = !users.sortReverse">
                            Fecha de creación
                            <span ng-show="users.sortType == 'creation_date' && !users.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="users.sortType == 'creation_date' && users.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                    <td>
                        <p class="disabled" ng-click="users.sortType = 'active'; users.sortReverse = !users.sortReverse">
                            Activo 
                            <span ng-show="users.sortType == 'active' && !users.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="users.sortType == 'active' && users.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                    <td>
                        <p class="disabled"  ng-click="users.sortType = 'is_admin'; users.sortReverse = !users.sortReverse">
                            Administrador
                            <span ng-show="users.sortType == 'is_admin' && !users.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="users.sortType == 'is_admin' && users.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="u in users.usersList | orderBy:users.sortType:users.sortReverse| filter:users.searchUsers | itemsPerPage:5" ng-click="users.selectUser(u)">
                    <th >{{u.email}}</th>
                    <td >{{u.creation_date|date:'medium'}}</td>
                    <td >{{u.status? 'Si':'No'}}</td>
                    <td >{{u.is_admin? 'Si':'No'}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="userForm" ng-show="users.userSelected">
        <form name="userForm">
            <div class="titlePage">
                <h1>Información del Usuario</h1>
            </div>
            <div class="firstCol">
                <div class="entry">
                    <h2 class="newsTitle">Nombre</h2><br/>
                    <input type="text" class="form-control" ng-model="users.user.fname"/>
                </div>
                <div class="entry">
                    <h2 class="newsTitle">Apellidos</h2><br/>
                    <input type="text" class="form-control" ng-model="users.user.lname"/>
                </div>
                <div class="entry">
                    <h2 class="newsTitle">Email</h2><br/>
                    <input type="email" class="form-control" name="email" ng-model="users.user.email" ng-readonly="!users.isCreating" required />
                </div>
            </div>
            <div class="secondCol">
                <div class="entry">
                    <div class="entry" ng-hide="!users.isCreating">
                        <h2 class="newsTitle">Password</h2><br/>
                        <input ng-attr-type="{{ users.showPassword? 'text' : 'password' }}"  class="form-control" name="password" ng-model="users.user.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
                        <span class="warn" ng-show="!userForm.password.$error.required &&  userForm.password.$error.pattern && userForm.password.$dirty"> Debe de contener una letra minúscula, una mayúscula y un número o símbolo. </span>
                    </div>
                </div>
                <div class="entryCheckbox" ng-hide="!users.isCreating">
                    <input type="checkbox" ng-model="users.showPassword" ng-checked="false" name="showP">
                    <label for="showP">Mostrar contraseña</label>
                </div>
                <div class="entry" ng-hide="!users.isCreating">
                    <h2 class="newsTitle">Confirmar Password</h2><br/>
                    <input type="password" class="form-control" name="confirmPassword" ng-model="users.confirmPass" ng-pattern="users.user.password" required/>
                    <span class="warn" ng-show="users.user.password != users.confirmPass">Las contraseñas deben de coincidir.</span>
                </div>
    
                <div class="entry" ng-hide="users.isCreating">
                    <h2 class="newsTitle">Ultima actualización de datos</h2><br/>
                    <label >{{users.user.modif_date|date:'medium'}}</label> 
                </div>
                <div class="entry" ng-hide="users.isCreating">
                    <h2 class="newsTitle">Fecha de creación</h2><br/>
                    <label >{{users.user.creation_date|date:'medium'}}</label> 
                </div>
                <div class="entry">
                    <h2 class="newsTitle">Estado y permisos</h2>
                </div>
                <div class="entryCheckbox">
                    <input type="checkbox" ng-model="users.user.status" name="active">
                    <label for="active">Activo</label>
                </div>
                <div class="entryCheckbox">
                    <input type="checkbox" ng-model="users.user.isAdmin" name="isAdmin">
                    <label for="isAdmin">Administrador</label>
                </div>
            </div>
            <div class="controllerButtons">
                <button class="btn btn-warning" id="returnButton" ng-click="users.return()">Cancelar</button>
                <button class="btn btn-success" id="saveButton" ng-show="(!userForm.$error.required && !userForm.confirmPassword.$error.pattern && !userForm.password.$error.pattern && !userForm.email.$error.email)|| !users.isCreating" ng-click="users.saveUser()">Guardar</button>
            </div>
        </form>
    </div>
</div>  
