<div ng-include src="'sidenav.html'" ng-controller="SideNavController as sidenav">
</div>
<div class="views" id="myApp">
    <div class="fileForm">
        <div class="titlePage">
            <h1>Subir archivos por medio</h1><br/>
        </div>
        <div class="mediaSearch">
            <h2 >Medio</h2>
            <select class="form-control" name="singleSelect" ng-model="files.mediaSelected"
            ng-options="option.facebook_name as option.name for option in files.media" ng-value="option.facebook_name" ></select>
        </div>
        {{files.file}}
        <div class="linkButtons">
                <js-xls onread='files.read()' onerror='files.error()'></js-xls>
            <!-- <ng-csv-import content="csv.content"
            header="csv.header" 
            separator="csv.separator"
            result="csv.result"></ng-csv-import> -->
        </div>
    </div>
</div>
