<div class="login">
    <form class="loginForm">
        <div class="loginTitleContainer">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
            <h3 class="sideNavTitle loginTitle">MEDIATIC CMS</h3>
        </div>
        <div class="inputsContainer">
            <label class="emailTitle">Email</label>
            <input type="email" placeholder="Email" ng-model="login.email"/>
        </div>        
        <div class="inputsContainer">
            <label class="passwordTitle">Password</label>
            <input type="password" placeholder="Password" ng-model="login.password"/>
            <p ng-show="login.errorLogginIn">Username o password incorrect</p>
        </div>
        <div>
            <input type="submit" class="submitButton" value="Login" ng-click="login.login(login.email, login.password)">
        </div> 
    </form>
</div>