<div ng-include src="'sidenav.html'" ng-controller="SideNavController as sidenav">
</div>
<div class="loading" ng-show="news.showLoader">Loading&#8230;</div> 
<div class="views" id="myApp">
    <div class="newsTable" ng-hide="news.selectedNews">
        <div class="titlePage">
            <h1>Publicaciones por Medios</h1>
        </div>
        <div class="newsSearch">
            <h2 >Medio</h2>
            <select class="form-control" name="singleSelect" ng-model="news.mediaSelected"
            ng-options="option.facebook_id as option.name for option in news.media" ng-value="option.facebook_id" ></select>
            <h2 >Fecha de inicio</h2>
            <input class="borderbox"type="date" datetime="yyyy-MM-dd HH:mm:ss" ng-model="news.sinceDate"/>
            <h2 >Fecha final</h2>
            <input class="borderbox" type="date" datetime="yyyy-MM-dd HH:mm:ss" ng-model="news.untilDate"/>
        </div>
        <div class="newsSearch">
            <h2 >Interés</h2>
            <select class="form-control" name="singleSelect" ng-model="news.searchInterest">
                <option value="">-- seleccionar --</option>
                <option value="Público">Público</option>
                <option value="No Público">No Público</option>
            </select>
            <h2 class="newsTitle">Tema</h2>
            <select class="form-control" name="singleSelect" ng-model="news.searchSubject"
            ng-options="category.category_name for category in news.categoryArray" ng-value="category.name" >
                <option value="">-- seleccionar --</option>
            </select>
            <h2>Palabras claves</h2>
            <input class="borderbox" type="text" ng-model="news.searchWords"/>
            <button class="btn btn-primary" type="button" ng-click="news.findNews()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>   
        </div>
        <table class="table table-striped table-hover table-bordered table-responsive" >
            <col width="100">
            <col width="10">
            <col width="100">
            <col width="10">
            <col width="10">
            <thead class="header">
                <tr class="firstRow">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Filtrar..." ng-model="news.searchNews">
                            </div>      
                        </div>                        
                    </form>
                </tr>
                <tr class="firsts-th">
                    <td>
                        <p class="disabled" ng-click="news.sortType = 'post_message'; news.sortReverse = !news.sortReverse">
                            Título 
                            <span ng-show="news.sortType == 'post_message' && !news.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="news.sortType == 'post_message' && news.sortReverse" class="fa fa-caret-up"></span>
                        <p>
                    </td>
                    <td>
                        <p class="disabled" ng-click="news.sortType = 'from.name'; news.sortReverse = !news.sortReverse">
                            Medio
                            <span ng-show="news.sortType == 'from.name' && !news.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="news.sortType == 'from.name' && news.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                    <td>
                        <p class="disabled" ng-click="news.sortType = 'post_published'; news.sortReverse = !news.sortReverse">
                            Fecha 
                            <span ng-show="news.sortType == 'post_published' && !news.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="news.sortType == 'post_published' && news.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                    <td>
                        <p class="disabled"  ng-click="news.sortType = 'engagement_fb'; news.sortReverse = !news.sortReverse">
                            Engagement
                            <span ng-show="news.sortType == 'engagement_fb' && !news.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="news.sortType == 'engagement_fb' && news.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                    <td>
                        <p class="disabled"  ng-click="news.sortType = 'subject'; news.sortReverse = !news.sortReverse">
                            Tema
                            <span ng-show="news.sortType == 'subject' && !news.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="news.sortType == 'subject' && news.sortReverse" class="fa fa-caret-up"></span>
                        </p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="n in news.newsArray | orderBy:news.sortType:news.sortReverse| filter:news.searchNews| itemsPerPage:5" ng-click="news.selectNews(n)">
                    <th >{{n.post_message}}</th>
                    <td >{{n.name}}</td>
                    <td >{{n.post_published_unix*1000|date:'medium': '+0600'}}</td>
                    <td >{{n.engagement_fb}}</td>
                    <td >{{n.subject}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
        </dir-pagination-controls>
        <button class="btn btn-success" id="downloadButton" type="button" ng-csv="news.newsArray" csv-header="news.keysArray" filename="Noticias.csv" >CSV</button>                                    
    </div>
    <div class="newsForm" ng-show="news.selectedNews">
        <div class="linkButtons">
            <a ng-href="{{news.news.link}}" target="_blank" class="btn btn-warning" id="linkFB">Link a la noticia</a>
            <a ng-href="{{news.news.post_link}}" target="_blank" class="btn btn-primary" id="linkFB">Link a Facebook</a>
        </div>
        <div class="firstCol">
            <div class="entry">
                <h2 class="newsTitle">Título</h2><br/>
                <textarea class="form-control" rows='3' ng-model="news.news.post_message"></textarea>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Fecha de Publicación</h2><br/>
                {{news.news.post_published_unix*1000|date:'medium'}}
            </div>
            <div class="entry">
                <h2 class="newsTitle">Medio</h2><br/>
                <input type="text" class="form-control" name="media" ng-model="news.news.name" readonly/>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Descripción</h2><br/>
                <textarea class="form-control" rows='3' contenteditable='true' ng-model="news.news.description" ></textarea>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Categoría</h2><br/>
                <select name="singleSelect" ng-model="news.categorySelected"
                ng-options="category.category_name for category in news.categoryArray" ng-value="category" ></select>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Subcategoría</h2><br/>
                <select name="singleSelect" ng-model="news.subcategorySelected"
                ng-options="subcategory.sub_category_name for subcategory in news.categorySelected.sub_categories" ng-value="subcategory" ></select>
            </div>
            <div class="entryCheckbox">
                <input type="checkbox" ng-model="news.news.isCampaign" ng-checked="news.news.isCampaign" name="ossm">
                <label for="ossm">Campaña</label>
            </div>
        </div>
        <div class="secondCol">
            <div class="entry">
                <div class="entryDivision">
                    <h2>Formato</h2><br/>
                    <select name="singleSelect" ng-model="news.news.type">
                        <option value="">-- seleccionar formato --</option>
                        <option value="link">Link</option>
                        <option value="photo">Foto</option>
                        <option value="video">Video</option>
                    </select>
                </div>
                <div class="entryDivision">
                        <h2 class="newsTitle">Interés</h2><br/>
                        <select name="singleSelect" ng-model="news.news.interest">
                            <option value="">-- seleccionar interés --</option>
                            <option value="Público">Público</option>
                            <option value="No Público">No Público</option>
                        </select>
                </div>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Tono</h2><br/>
                <select name="singleSelect" ng-model="news.news.framing">
                        <option value="">-- seleccionar tono --</option>
                        <option value="Ataque">Ataque</option>
                        <option value="Denuncia">Denuncia</option>
                        <option value="Humor">Humor</option>
                        <option value="Informativo">Informativo</option>
                        <option value="Invitación">Invitación</option>
                        <option value="Militante">Militante</option>
                        <option value="Personal">Personal</option>
                        <option value="Polémico">Polémico</option>
                        <option value="Propositivo">Propositivo</option>
                    </select>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Periodista</h2><br/>
                <input type="text" ng-model="news.news.journalist"/>
            </div>
            <div class="entry">
                <div class="entryDivision">
                    <h2>Formato</h2><br/>
                    <select name="singleSelect" ng-model="news.news.format">
                        <option value="">-- seleccionar Género --</option>
                        <option value="Blog">Blog</option>
                        <option value="Crónica">Crónica</option>
                        <option value="Editorial">Editorial</option>
                        <option value="Entrevista">Entrevista</option>
                        <option value="Noticia">Noticia</option>
                        <option value="Opinión">Opinión</option>
                        <option value="Publicidad">Publicidad</option>
                        <option value="Reportaje">Reportaje</option>
                    </select>
                </div>
                <div class="entryDivision">
                    <h2 class="newsTitle">Sección</h2><br/>
                    <input type="text" ng-model="news.news.section"/>
                </div>
            </div>
            <div class="entry">
                <h2 class="newsTitle">Observaciones</h2><br/>
                <textarea class="form-control" rows='3' contenteditable='true' ng-model="news.news.observations" ></textarea>
            </div>
            <div class="entry">
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Comentarios</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.comments_count_fb" readonly/>
                    </div>
                    <div class="entryEngDivision">
                            <h2 class="newsTitle">Compartido</h2><br/>
                            <input id="numberCount" type="number" ng-model="news.news.shares_count_fb" readonly/>
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Reacciones</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.reactions_count_fb" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Likes</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.likes_count_fb" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Angry</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_ANGRY" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Haha</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_HAHA" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Wow</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_WOW" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Sad</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_SAD" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Love</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_LOVE" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Thankful</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.rea_THANKFUL" />
                    </div>
                    <div class="entryEngDivision">
                        <h2 class="newsTitle">Engagement</h2><br/>
                        <input id="numberCount" type="number" ng-model="news.news.engagement_fb" />
                    </div>
            </div>
        </div>
        <div class="postComments" ng-show="news.originalCommentsArray.length > 0">
            <h2 class="newsTitle">Comentarios</h2>
            <table class="table table-striped table-hover table-bordered table-responsive" >
                <col width="10">
                <col width="100">
                <col width="50">
                <col width="50">
                <col width="40">
                <thead class="header">
                    <tr class="firstRow">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Filtrar..." ng-model="news.searchComments">
                                </div>      
                            </div>                        
                        </form>
                    </tr>
                    <tr class="firsts-th">
                        <td>
                            <button type="button" ng-click="news.expandAll(allExpanded = !allExpanded)">
                                <span ng-bind="allExpanded ? '-' : '+'"></span>
                            </button>
                        </td>
                        <td>
                            <p class="disabled" ng-click="news.commentSortType = 'comment_message'; news.commentSortReverse = !news.commentSortReverse">
                                Comentario 
                                <span ng-show="news.commentSortType == 'comment_message' && !news.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="news.commentSortType == 'comment_message' && news.sortReverse" class="fa fa-caret-up"></span>
                            <p>
                        </td>
                        <td>
                            <p class="disabled" ng-click="news.commentSortType = 'like_count'; news.commentSortReverse = !news.commentSortReverse">
                                Likes
                                <span ng-show="news.commentSortType == 'comment_like_count' && !news.commentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="news.commentSortType == 'comment_like_count' && news.commentSortReverse" class="fa fa-caret-up"></span>
                            </p>
                        </td>
                        <td>
                            <p class="disabled" ng-click="news.commentSortType = 'comment_published'; news.commentSortReverse = !news.commentSortReverse">
                                Fecha 
                                <span ng-show="news.commentSortType == 'comment_published' && !news.commentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="news.commentSortType == 'comment_published' && news.commentSortReverse" class="fa fa-caret-up"></span>
                            </p>
                        </td>
                        <td>
                            <p class="disabled"  ng-click="news.commentSortType = 'comment_count'; news.commentSortReverse = !news.commentSortReverse">
                                Comentarios de Respuesta
                                <span ng-show="news.commentSortType == 'comment_count' && !news.commentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="news.commentSortType == 'comment_count' && news.commentSortReverse" class="fa fa-caret-up"></span>
                            </p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate-start="n in news.news.commentArray | orderBy:news.commentSortType:news.commentSortReverse| filter:news.searchComments| itemsPerPage:5">
                        <td>
                            <button ng-click="expanded = !expanded" expand>
                                <span ng-bind="expanded ? '-' : '+'"></span>
                            </button>
                        </td>                 
                        <div ng-show="n.comment_message == ''"> 
                            <td ng-show="n.comment_message == ''">-</td> 
                        </div>
                        <div ng-show="n.comment_message != ''"> 
                            <td ng-show="n.comment_message != ''">{{n.comment_message}}</td>
                        </div>
                        <td >{{n.comment_like_count}}</td>
                        <td >{{n.comment_published|date:'medium'}}</td>
                        <td >{{n.comment_count}}</td>
                    </tr>
                    <tr dir-paginate-end ng-show="expanded">
                            <td></td>
                            <td colspan="6">
                                <table class="table table-condensed table-bordered">
                                        <col width="100">
                                        <col width="50">
                                        <col width="50">
                                    <thead>
                                        <tr>
                                            <th>Comentario Respuesta</th>
                                            <th>Fecha</th>
                                            <th>Likes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="commentR in n.commentsResponse | orderBy:comment_position">
                                            <div ng-show="commentR.comment_message == '' && commentR.attachment_url!=''"> 
                                                <td ng-show="commentR.comment_message == '' && commentR.attachment_url!=''"><img ng-src={{commentR.attachment_url}}/></td>
                                            </div>
                                            <div ng-show="commentR.comment_message == '' && commentR.attachment_url==''"> 
                                                <td ng-show="commentR.comment_message == '' && commentR.attachment_url==''">-</td> 
                                            </div>
                                            <div ng-show="commentR.comment_message != '' "> 
                                                <td ng-show="commentR.comment_message != '' ">{{commentR.comment_message}}</td>
                                            </div>
                                           
                                            <td>{{commentR.comment_published|date:'medium'}}</td>
                                            <td>{{commentR.comment_like_count}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                </tbody>
            </table>
            <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
            </dir-pagination-controls>
            <div ng-show="news.originalCommentsArray">
                <button class="btn btn-success" id="downloadButton" type="button" ng-csv="news.originalCommentsArray" csv-header="news.commentKeysArray" filename="CommentPost.csv" >CSV</button>                                
            </div>
        </div>  
        <div class="controllerButtons">
            <button class="btn btn-warning" id="returnButton" ng-click="news.return()">Cancelar</button>
            <button class="btn btn-success" id="saveButton" ng-click="news.saveNews()">Guardar</button>
        </div>
    </div>
</div>  
